:root {
	--ajn_base_unit: 0.125rem; // 2px
	--base_unit-half: math.div(var(--ajn_base_unit), 2); // 1px

	/*-------------------------------------------------
	>> Variables for Spaces
	-------------------------------------------------*/

	--space_base_unit: var(--ajn_base_unit);

	/* ------- [ D-2 to M-2 ] - [ gl-s4 ] ------- */
	--ajn_space_1_max: var(--space_base_unit) * 1;
	--ajn_space_1_min: var(--space_base_unit) * 1;
	--ajn_space_1: clamp(
		var(--ajn_space_1_min),
		0.125rem + 0vw,
		var(--ajn_space_1_max)
	);

	/* ------- [ D-4 to M-4 ] - [ gl-s12 ] ------- */
	--ajn_space_2_max: var(--space_base_unit) * 2;
	--ajn_space_2_min: var(--space_base_unit) * 2;
	--ajn_space_2: clamp(
		var(--ajn_space_2_min),
		0.25rem + 0vw,
		var(--ajn_space_2_max)
	);

	/* ------- [ D-8 to M-6 ] - [ gl-s44 ] ------- */
	--ajn_space_3_max: var(--space_base_unit) * 4;
	--ajn_space_3_min: var(--space_base_unit) * 3;
	--ajn_space_3: clamp(
		var(--ajn_space_3_min),
		0.03790613718411551rem + 0.7220216606498195vw,
		var(--ajn_space_3_max)
	);

	/* ------- [ D-12 to M-10 ] - [ gl-s96 ] ------- */
	--ajn_space_4_max: var(--space_base_unit) * 6;
	--ajn_space_4_min: var(--space_base_unit) * 5;
	--ajn_space_4: clamp(
		var(--ajn_space_4_min),
		0.2879061371841155rem + 0.7220216606498195vw,
		var(--ajn_space_4_max)
	);

	/* ------- [ D-16 to M-12 ] - [ gl-s240 ] ------- */
	--ajn_space_5_max: var(--space_base_unit) * 8;
	--ajn_space_5_min: var(--space_base_unit) * 6;
	--ajn_space_5: clamp(
		var(--ajn_space_5_min),
		0.07581227436823101rem + 1.444043321299639vw,
		var(--ajn_space_5_max)
	);

	/* ------- [ D-20 to M-16 ] - [ gl-s20 ] ------- */
	--ajn_space_6_max: var(--space_base_unit) * 10;
	--ajn_space_6_min: var(--space_base_unit) * 8;
	--ajn_space_6: clamp(
		var(--ajn_space_6_min),
		0.325812274368231rem + 1.444043321299639vw,
		var(--ajn_space_6_max)
	);

	/* ------- [ D-36 to M-22 ] - [ gl-s36 ] ------- */
	--ajn_space_7_max: var(--space_base_unit) * 18;
	--ajn_space_7_min: var(--space_base_unit) * 11;
	--ajn_space_7: clamp(
		var(--ajn_space_7_min),
		-0.9846570397111916rem + 5.054151624548737vw,
		var(--ajn_space_7_max)
	);

	/* ------- [ D-44 to M-28 ] - [ gl-s44 ] ------- */
	--ajn_space_8_max: var(--space_base_unit) * 22;
	--ajn_space_8_min: var(--space_base_unit) * 14;
	--ajn_space_8: clamp(
		var(--ajn_space_8_min),
		-0.9467509025270759rem + 5.776173285198556vw,
		var(--ajn_space_8_max)
	);

	/* ------- [ D-48 to M-36 ] - [ gl-s48 ] ------- */
	--ajn_space_9_max: var(--space_base_unit) * 24;
	--ajn_space_9_min: var(--space_base_unit) * 18;
	--ajn_space_9: clamp(
		var(--ajn_space_9_min),
		0.22743682310469282rem + 4.332129963898917vw,
		var(--ajn_space_9_max)
	);

	/* ------- [ D-60 to M-42 ] - [ gl-s60 ] ------- */
	--ajn_space_10_max: var(--space_base_unit) * 30;
	--ajn_space_10_min: var(--space_base_unit) * 21;
	--ajn_space_10: clamp(
		var(--ajn_space_10_min),
		-0.40884476534296077rem + 6.498194945848376vw,
		var(--ajn_space_10_max)
	);

	/* ------- [ D-72 to M-48 ] - [ gl-s72 ] ------- */
	--ajn_space_11_max: var(--space_base_unit) * 36;
	--ajn_space_11_min: var(--space_base_unit) * 24;
	--ajn_space_11: clamp(
		var(--ajn_space_11_min),
		-1.0451263537906144rem + 8.664259927797834vw,
		var(--ajn_space_11_max)
	);

	/* ------- [ D-96 to M-54 ] - [ gl-s96 ] ------- */
	--ajn_space_12_max: var(--space_base_unit) * 48;
	--ajn_space_12_min: var(--space_base_unit) * 27;
	--ajn_space_12: clamp(
		var(--ajn_space_12_min),
		-3.703971119133575rem + 15.162454873646212vw,
		var(--ajn_space_12_max)
	);

	/* ------- [ D-120 to M-60 ] - [ gl-s120 ] ------- */
	--ajn_space_13_max: var(--space_base_unit) * 60;
	--ajn_space_13_min: var(--space_base_unit) * 30;
	--ajn_space_13: clamp(
		var(--ajn_space_13_min),
		-6.362815884476534rem + 21.660649819494584vw,
		var(--ajn_space_13_max)
	);

	/* ------- [ D-160 to M-72 ] - [ gl-s160 ] ------- */
	--ajn_space_14_max: var(--space_base_unit) * 80;
	--ajn_space_14_min: var(--space_base_unit) * 36;
	--ajn_space_14: clamp(
		var(--ajn_space_14_min),
		-10.332129963898918rem + 31.768953068592058vw,
		var(--ajn_space_14_max)
	);

	/* ------- [ D-200 to M-84 ] - [ gl-s200 ] ------- */
	--ajn_space_15_max: var(--space_base_unit) * 100;
	--ajn_space_15_min: var(--space_base_unit) * 42;
	--ajn_space_15: clamp(
		var(--ajn_space_15_min),
		-14.3014440433213rem + 41.87725631768953vw,
		var(--ajn_space_15_max)
	);

	/* ------- [ D-240 to M-96 ] - [ gl-s240 ] ------- */
	--ajn_space_16_max: var(--space_base_unit) * 120;
	--ajn_space_16_min: var(--space_base_unit) * 48;
	--ajn_space_16: clamp(
		var(--ajn_space_16_min),
		-18.270758122743686rem + 51.98555956678701vw,
		var(--ajn_space_16_max)
	);

	/* ------- [ D-270 to M-120 ] - [ gl-s270 ] ------- */
	--ajn_space_17_max: var(--space_base_unit) * 135;
	--ajn_space_17_min: var(--space_base_unit) * 60;
	--ajn_space_17: clamp(
		var(--ajn_space_17_min),
		-18.270758122743686rem + 51.98555956678701vw,
		var(--ajn_space_17_max)
	);

	/* -------------------------------------------------
	>> Font Sizes
	------------------------------------------------- */

	--font_base_unit: var(--ajn_base_unit);

	/* ------- [ D-12 to M-11 ] - [ Text-14 ] ------- */
	--ajn_font_size_1_max: var(--font_base_unit) * 6;
	--ajn_font_size_1_min: var(--font_base_unit) * 5.5;
	--ajn_font_size_1: clamp(
		var(--ajn_font_size_1_min),
		0.599906191369606rem + 0.18761726078799248vw,
		var(--ajn_font_size_1_max)
	);

	/* ------- [ D-14 to M-13 ] - [ Text-14 ] ------- */
	--ajn_font_size_2_max: var(--font_base_unit) * 7;
	--ajn_font_size_2_min: var(--font_base_unit) * 6.5;
	--ajn_font_size_2: clamp(
		var(--ajn_font_size_2_min),
		0.724906191369606rem + 0.18761726078799248vw,
		var(--ajn_font_size_2_max)
	);

	/* ------- [ D-16 to M-15 ] - [ Text-14 ] ------- */
	--ajn_font_size_3_max: var(--font_base_unit) * 8;
	--ajn_font_size_3_min: var(--font_base_unit) * 7.5;
	--ajn_font_size_3: clamp(
		var(--ajn_font_size_3_min),
		0.849624060150376rem + 0.18796992481203006vw,
		var(--ajn_font_size_3_max)
	);

	/* ------- [ D-18 to M-17 ] - [ Text-14 ] ------- */
	--ajn_font_size_4_max: var(--font_base_unit) * 9;
	--ajn_font_size_4_min: var(--font_base_unit) * 8.5;
	--ajn_font_size_4: clamp(
		var(--ajn_font_size_4_min),
		0.974624060150376rem + 0.18796992481203006vw,
		var(--ajn_font_size_4_max)
	);

	/* ------- [ D-20 to M-18 ] - [ Text-14 ] ------- */
	--ajn_font_size_5_max: var(--font_base_unit) * 10;
	--ajn_font_size_5_min: var(--font_base_unit) * 9;
	--ajn_font_size_5: clamp(
		var(--ajn_font_size_5_min),
		0.9492481203007519rem + 0.37593984962406013vw,
		var(--ajn_font_size_5_max)
	);

	/* ------- [ D-22 to M-20 ] - [ Text-14 ] ------- */
	--ajn_font_size_6_max: var(--font_base_unit) * 11;
	--ajn_font_size_6_min: var(--font_base_unit) * 10;
	--ajn_font_size_6: clamp(
		var(--ajn_font_size_6_min),
		1.074248120300752rem + 0.37593984962406013vw,
		var(--ajn_font_size_6_max)
	);

	/* ------- [ D-24 to M-20 ] - [ Text-14 ] ------- */
	--ajn_font_size_7_max: var(--font_base_unit) * 12;
	--ajn_font_size_7_min: var(--font_base_unit) * 10;
	--ajn_font_size_7: clamp(
		var(--ajn_font_size_7_min),
		0.575812274368231rem + 1.444043321299639vw,
		var(--ajn_font_size_7_max)
	);

	/* ------- [ D-26 to M-22 ] - [ Text-14 ] ------- */
	--ajn_font_size_8_max: var(--font_base_unit) * 13;
	--ajn_font_size_8_min: var(--font_base_unit) * 11;
	--ajn_font_size_8: clamp(
		var(--ajn_font_size_8_min),
		1.0234962406015038rem + 0.7518796992481203vw,
		var(--ajn_font_size_8_max)
	);

	/* ------- [ D-32 to M-24 ] - [ Text-14 ] ------- */
	--ajn_font_size_9_max: var(--font_base_unit) * 16;
	--ajn_font_size_9_min: var(--font_base_unit) * 12;
	--ajn_font_size_9: clamp(
		var(--ajn_font_size_9_min),
		0.15162454873646203rem + 2.888086642599278vw,
		var(--ajn_font_size_9_max)
	);

	/* ------- [ D-40 to M-26 ] - [ Text-14 ] ------- */
	--ajn_font_size_10_max: var(--font_base_unit) * 20;
	--ajn_font_size_10_min: var(--font_base_unit) * 13;
	--ajn_font_size_10: clamp(
		var(--ajn_font_size_10_min),
		-0.7346570397111916rem + 5.054151624548737vw,
		var(--ajn_font_size_10_max)
	);

	/* ------- [ D-48 to M-30 ] - [ Text-14 ] ------- */
	--ajn_font_size_11_max: var(--font_base_unit) * 24;
	--ajn_font_size_11_min: var(--font_base_unit) * 15;
	--ajn_font_size_11: clamp(
		var(--ajn_font_size_11_min),
		-1.1588447653429608rem + 6.498194945848376vw,
		var(--ajn_font_size_11_max)
	);

	/* ------- [ D-60 to M-45 ] - [ Text-14 ] ------- */
	--ajn_font_size_12_max: var(--font_base_unit) * 30;
	--ajn_font_size_12_min: var(--font_base_unit) * 22.5;
	--ajn_font_size_12: clamp(
		var(--ajn_font_size_12_min),
		1.49859287054409rem + 2.8142589118198873vw,
		var(--ajn_font_size_12_max)
	);

	/* ------- [ D-68 to M-55 ] - [ Text-14 ] ------- */
	--ajn_font_size_13_max: var(--font_base_unit) * 34;
	--ajn_font_size_13_min: var(--font_base_unit) * 27.5;
	--ajn_font_size_13: clamp(
		var(--ajn_font_size_13_min),
		0.9092960288808665rem + 5.415162454873646vw,
		var(--ajn_font_size_13_max)
	);

	/* -------------------------------------------------
		>> Line Height
	------------------------------------------------- */

	// Base Line Height
	--ajn_line_height_base_unit: 0.063rem;

	// Fluid Line Heights
	--line_height_xsmall: calc(var(--ajn_line_height_base_unit) * 1);
	--line_height_small: calc(var(--ajn_line_height_base_unit) * 1.1);
	--line_height_medium: calc(var(--ajn_line_height_base_unit) * 1.3);
	--line_height_large: calc(var(--ajn_line_height_base_unit) * 1.4);
	--line_height_xlarge: calc(var(--ajn_line_height_base_unit) * 1.5);

	/* -------------------------------------------------
		>> Letter Spacing
	------------------------------------------------- */

	// Base Letter Spacing
	--ajn_letter_spacing_base_unit: 1rem;

	// Fluid Letter Spacings
	--letter_spacing_xsmall: calc(var(--ajn_letter_spacing_base_unit) * 0);
	--letter_spacing_small: calc(var(--ajn_letter_spacing_base_unit) * -0.5);
	--letter_spacing_medium: normal;
	--letter_spacing_large: calc(var(--ajn_letter_spacing_base_unit) * 1);
	--letter_spacing_xlarge: calc(var(--ajn_letter_spacing_base_unit) * 1.5);

	/* -------------------------------------------------
			>> Border Radius
		------------------------------------------------- */
	--border_radius_small: calc(var(--ajn_base_unit) * 1);
	--border_radius_medium: calc(var(--ajn_base_unit) * 2);
	--border_radius_large: calc(var(--ajn_base_unit) * 2);

	/* -------------------------------------------------
	>> Color variables
	------------------------------------------------- */

	/*
	>> Base Colors
	*/

	// Theme Primary
	--ajn_color_primary: #00a4eb;
	--ajn_color_on_primary: #ffffff;

	// Theme Secondary
	--ajn_color_secondary: #0013ff;

	// Theme Dark
	--ajn_black: #171615;
	--ajn_black_1: #14191f;
	--ajn_black_2: #606364;

	// Theme Light
	--ajn_white: #ffffff;
	--ajn_white_1: #f1f1f1;
	--ajn_white_2: #f1e9e9;

	// Theme Colors
	--ajn_gray: #e0e0e0;
	--ajn_gray_1: #e6e6e6;
	--ajn_gray_2: #eee;

	--ajn_blue: #0013ff;
	--ajn_blue_1: #00a4eb;
	--ajn_blue_2: #2ca8dd;

	--ajn_navy: #091a17;
	--ajn_navy_1: #15332e;
	--ajn_navy_2: #2f655c;

	--ajn_red: #ff0000;
	--ajn_sea_green: #04c3b4;

	--ajn_transparent: transparent;

	// Text Variations
	--ajn_regular_text: #14191f;
	--ajn_dark_text: #14191f;
	--ajn_white_text: #f7f7f7;
	--ajn_light_text: #606364;

	// fixed variable Colors

	--ajn_success: #198754;
	--ajn_info: #0dcaf0;
	--ajn_warning: #ffc107;
	--ajn_danger: #dc3545;
	--ajn_light: #f8f9fa;
	--ajn_dark: #212529;

	--ajn_signal: #d14b3c;
	--ajn_signal_bg: #fbede9;

	--ajn_color_background: #ffffff;
	--ajn_color_on_background: #14191f;

	// Borders
	--ajn_border: #30353c;
	--ajn_border_1: #545454;
	--ajn_border_2: #adadad;
	--ajn_border_3: #e0e0e0;

	/* -------------------------------------------------
	>> Base Colors
	>> Base colors are used for essential elements
	such as the logo, tables, links, blockquote,
	default buttons styling and this should't conflict
	with theme colors
	------------------------------------------------- */

	// text Colors
	--ajn_body_color: var(--ajn_color_on_background);
	--ajn_body_bg: var(--ajn_color_background);
	--ajn_text_strong: var(--ajn_black);

	--ajn_dark_text: var(--ajn_black);
	--ajn_white_text: var(--ajn_white);

	--ajn_highlight_color: var(--ajn_color_on_primary);
	--ajn_highlight_bg: var(--ajn_color_primary);

	--ajn_caption: var(--ajn_black_2);

	// Headings

	--ajn_heading_color: inherit;
	--ajn_heading_link_color: var(--ajn_dark_text);
	--ajn_heading_link_color_hover: var(--ajn_dark_text);

	// link colors
	--ajn_link_color: var(--ajn_color_primary);
	--ajn_link_color_hover: var(--ajn_color_primary);
	--ajn_link_border_color: var(--ajn_color_primary);
	--ajn_link_border_color_hover: transparent;

	// lists Colors
	--ajn_list_ul_marker_color: var(--ajn_color_primary);
	--ajn_list_ol_marker_color: var(--ajn_color_primary);

	// Blockquote Colors
	--ajn_blockquote_color: var(--ajn_regular_text);
	--ajn_blockquote_border_color: var(--ajn_regular_text);
	--ajn_quote_color: var(--ajn_regular_text);
	--ajn_blockqoute_cite_color: var(--ajn_light_text);

	// Tables Colors
	--ajn_table_border_color: var(--ajn_border);
	--ajn_table_head_border_color: var(--ajn_dark_text);
	--ajn_table_foot_border_color: var(--ajn_dark_text);

	// Formating
	--ajn_strong_color: var(--ajn_regular_text);
	--ajn_underline_border_color: var(--ajn_regular_text);
	--ajn_abbr_border_color: var(--ajn_regular_text);
	--ajn_delete_color: var(--ajn_danger);
	--ajn_insert_color: var(--ajn_success);
	--ajn_insert_border_color: var(--ajn_success);

	// Code
	--ajn_code_color: var(--ajn_white_text);
	--ajn_code_bgcolor: var(--ajn_dark_text);
	--ajn_pre_color: var(--ajn_white_text);
	--ajn_pre_bgcolor: var(--ajn_dark_text);
	--ajn_mark_bgcolor: var(--ajn_dark_text);
	--ajn_mark_color: var(--ajn_white_text);

	// Graphical elements
	--ajn_hr_color: var(--ajn_border_2);

	// Form Fields

	--ajn_input_color: var(--ajn_regular_text);
	--ajn_input_bg: var(--ajn_light_field_bg);
	--ajn_input_border_color: var(--ajn_border);

	--ajn_input_focus_color: var(--ajn_black);
	--ajn_input_focus_bgcolor: var(--ajn_white);
	--ajn_input_focus_border_color: var(--ajn_border_2);

	--ajn_disabled_input_bgcolor: var(--ajn_field_bg);
	--ajn_disabled_input_border_color: var(--ajn_border_1);

	--ajn_placeholder_color: var(--ajn_light_text);
	--ajn_range_track_bgcolor: var(--ajn_field_bg);
	--ajn_range_thumb_bgcolor: var(--ajn_color_primary);
	--ajn_color_field_border_color: var(--ajn_border);
	--ajn_color_field_bgcolor: var(--ajn_field_bg);
	--ajn_radio_color: var(--ajn_regular_text);
	--ajn_radio_border_color: var(--ajn_border);
	--ajn_radio_bgcolor: var(--ajn_field_bg);
	--ajn_radio_after_bgcolor: var(--ajn_color_primary);
	--ajn_checkbox_color: var(--ajn_regular_text);
	--ajn_checkbox_border_color: var(--ajn_border);
	--ajn_checkbox_bgcolor: var(--ajn_field_bg);
	--ajn_checkbox_after_bgcolor: var(--ajn_color_primary);
	--ajn_progress_bgcolor: var(--ajn_field_bg);
	--ajn_progress_value_bgcolor: var(--ajn_color_primary);
	--ajn_meter_bgcolor: var(--ajn_field_bg);
	--ajn_meter_value_bgcolor: var(--ajn_color_primary);

	// Button
	--ajn_button_color: var(--ajn_white_text);
	--ajn_button_bgcolor: var(--ajn_color_primary);
	--ajn_button_color_hover: var(--ajn_dark_text);
	--ajn_button_bgcolor_hover: var(--ajn_transparent);
	--ajn_button_border_color: var(--ajn_color_primary);
	--ajn_button_border_color_hover: var(--ajn_border);

	--ajn_reset_button_bgcolor: var(--ajn_button_bgcolor);
	--ajn_reset_button_color: var(--ajn_white_text);

	// Buttons layer
	--ajn_theme_btn_color: var(--ajn_button_color);
	--ajn_theme_btn_bgcolor: var(--ajn_button_bgcolor);
	--ajn_theme_btn_color_hover: var(--ajn_button_color_hover);
	--ajn_theme_btn_bgcolor_hover: var(--ajn_button_bgcolor_hover);
	--ajn_theme_btn_border_color: var(--ajn_button_border_color);
	--ajn_theme_btn_border_color_hover: var(--ajn_button_border_color_hover);

	// --ajn_wp_btn_color: var(--ajn_white_text);
	// --ajn_wp_btn_bgcolor: var(--ajn_button_bg);

	// --ajn_wp_outline_btn_color: var(--ajn_white_text);
	// --ajn_wp_outline_btn_border_color: var(--ajn_dark_text);
	// --ajn_wp_outline_btn_bgcolor: var(--ajn_dark_text);

	// Date Picker
	--ajn_datepicker_bg_color: var(--ajn_gray);
	--ajn_datepicker_select_bgcolor: var(--ajn_white);
	--ajn_datepicker_link_color: var(--ajn_color_secondary);
	--ajn_datepicker_link_active_color: var(--ajn_color_primary);
	--ajn_datepicker_calendar: var(--ajn_white_text);
	--ajn_datepicker_th_bgcolor: var(--ajn_border_1);
	--ajn_datepicker_even_tr_td_bgcolor: var(--ajn_border_1);
	--ajn_datepicker_border_color: var(--ajn_border_1);
	--ajn_datepicker_date_color: var(--ajn_dark_text);

	// Errors & Confirmation
	--ajn_valiation_error_bg_color: var(--ajn_danger_bg);
	--ajn_valiation_message_color: var(--ajn_danger);
	--ajn_error_field_border_color: var(--ajn_danger);
	--ajn_valiation_error_color: var(--ajn_danger);
	--ajn_confirmation_message_bgcolor: var(--ajn_success_bg);
	--ajn_confirmation_message_color: var(--ajn_dark_text);
	--ajn_confirmation_message_border_color: var(--ajn_danger);
	--ajn_required_text_color: var(--ajn_danger);
	--ajn_invalid_error_border_color: var(--ajn_danger);
	--ajn_hubspot_error_label_color: var(--ajn_danger);
	--ajn_hubspot_required_color: var(--ajn_danger);
	--ajn_fileupload_rule_color: var(--ajn_light_text);
	--ajn_error_menu_color: var(--ajn_dark_text);

	// Accessibility
	--ajn_acc_btn_color: var(--ajn_white_text);
	--ajn_acc_btn_bgcolor: var(--ajn_button_bg);
	--ajn_acc_btn_shadow: var(--ajn_danger);

	// Comments Box
	--ajn_comments_reply_btn_bgcolor: var(--ajn_button_bg);
	--ajn_comments_reply_btn_color: var(--ajn_white_text);
	--ajn_comments_reply_btn_bgcolor_hover: var(--ajn_button_bg_hover);
	--ajn_comments_reply_btn_color_hover: var(--ajn_white_text);
	--ajn_comment_meta_color: var(--ajn_dark_text);
	--ajn_comment_metadata_color: var(--ajn_light_text);
	--ajn_comments_list_border_color: var(--ajn_border);
	--ajn_widget_comments_meta_color: var(--ajn_light_text);

	// Pagination
	--ajn_pagination_bgcolor: var(--ajn_blue_1);
	--ajn_pagination_color: var(--ajn_white);
	--ajn_pagination_color_hover: var(--ajn_white);
	--ajn_pagination_bgcolor_hover: var(--ajn_border_1);
	--ajn_pagination_bgcolor_current: var(--ajn_border_1);
	--ajn_pagination_color_current: var(--ajn_white);
	--ajn_pagination_first_bgcolor: var(--ajn_border_1);
	--ajn_pagination_first_color: var(--ajn_dark_text);
	--ajn_pagination_border: var(--ajn_transparent);

	// Widgets
	--ajn_widget_latest_post_meta_color: var(--ajn_danger);
	--ajn_widget_rss_feed_meta_color: var(--ajn_danger);
	--ajn_widget_search_button_color: var(--ajn_pure_black);
	--ajn_wp_table_block_stripe_bg_color: var(--ajn_gray);

	// Breadcrumbs
	--ajn_breadcrumb_color: var(--ajn_pure_black);
	--ajn_breadcrumb_link_color: var(--ajn_pure_black);
	--ajn_breadcrumb_border_color: transparent;
	--ajn_breadcrumb_border_color_hover: var(--ajn_pure_black);
	--ajn_breadcrumb_span_color: var(--ajn_pure_black);

	// Header
	--ajn_header_bgcolor: var(--ajn_transparent);
	--ajn_header_color: var(--ajn_black);
	--ajn_header_color_hover: var(--ajn_black);
	--ajn_header_bgcolor_sticky: var(--ajn_white);
	--ajn_header_nav_border_color: var(--ajn_dark_text);

	--ajn_header_submenu_bgcolor: var(--ajn_gray);
	--ajn_header_submenu_color: var(--ajn_header_color);
	--ajn_header_submenu_color_hover: var(--ajn_header_color_hover);

	--ajn_header_mobile_color: var(--ajn_dark_text);
	--ajn_header_mobile_submenu_color: var(--ajn_dark_text);

	--ajn_nav_overlay_bgcolor: var(--ajn_white);
	--ajn_mobile_nav_icon_bgcolor: var(--ajn_dark_text);
	--ajn_abbr_border: var(--ajn_dark_text);

	// Top Bar
	--ajn_topbar_bgcolor: var(--ajn_color_primary);
	--ajn_topbar_color: var(--ajn_white);
	--ajn_topbar_link_color: var(--ajn_white);

	// Footer
	--ajn_footer_bgcolor: var(--ajn_dark_text);
	--ajn_footer_color: var(--ajn_white_text);

	--ajn_footer_color_hover: var(--ajn_white_text);

	--ajn_f_nav_color: var(--ajn_footer_color);
	--ajn_f_nav_color_hover: var(--ajn_footer_color_hover);
	--ajn_f_nav_border_color: var(--ajn_footer_color);
	--ajn_f_nav_border_color_hover: var(--ajn_footer_color_hover);

	--ajn_copyright_color: var(--ajn_white_text);
	--ajn_legal_nav_color: var(--ajn_white_text);
	--ajn_legal_nav_border_color: var(--ajn_white_text);
	--ajn_legal_nav_border_color_hover: var(--ajn_white_text);
	--ajn_legal_text_color: var(--ajn_white_text);

	// Containers

	--ajn_ctn_red: var(--ajn_red);
	--ajn_ctn_black: var(--ajn_black);
	--ajn_ctn_sea_green: var(--ajn_sea_green);

	// style variations

	--ajn_style_bg: #821212;
	--ajn_style_text: #171615;
	--ajn_style_link: #171615;
	--ajn_style_button: #00a4eb;
}
