/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

body {
	@include font(int, light, family weight);
	position: relative;
	font-size: 18px;
	color: var(--ajn_body_color);
	background-color: var(--ajn_body_bg);
	line-height: 1.5;
	overflow-x: hidden;
}

p {
	margin: 0 0 30px;

	span {
		@include font(int, bold);
	}
}

::selection {
	color: var(--ajn_highlight_color);
	background-color: var(--ajn_highlight_bg);
}

strong {
	color: var(--ajn_text_strong) !important;
}
